body {
    font-family: Arial, sans-serif;
    background: #24337a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Menu {
    background: white;
    padding: 60px;
    width: 500px;
    border-radius: 12px;
    text-align: center;
}

.Menu h1 {
    font-size: 25px;
    margin-bottom: 35px;
}

.mail input,
.mdp input {
    width: 100%;
    padding: 18px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 18px;
}

.login button {
    width: 100%;
    padding: 18px;
    border: none;
    background: #f45a0c;
    color: white;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
}